# Raw and processed datasets
data/raw/
data/processed/

# Large model files
*.h5
*.keras
*.pt
*.pth
*.pkl

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
